{% extends "truc_bidule/base.html" %}
{% load static %}

{% block title %}Test de l'API Fetch de JS{% endblock %}

{% block content %}
    <main style="text-align: center">
        <h1>Exemple Docsting d'utilisation de l'API fetch de JavaScript</h1>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="input-nb1">Nombre 1</label>
                <input type="text" name="nb1" id="input-nb1">
            </div>

            <div>
                <label for="input-nb2">Nombre 2</label>
                <input type="text" name="nb2" id="input-nb2">
            </div>
            <br>
            <input type="submit" id="btn-calculer" value="Calculer" data-url="{% url 'compute' %}">
        </form>
        <br>
        <p id="p-result"></p>
    </main>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'docstring_fetch/main.js' %}">
    </script>
{% endblock extra_js %}
