<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center;">
<h1>Exemple Docsting d'utilisation de l'API fetch</h1>
<form method="POST">
    {% csrf_token %}
    <div>
        <label for="input-nb1">Nombre 1</label>
        <input type="text" name="nb1" id="input-nb1">
    </div>

    <div>
        <label for="input-nb2">Nombre 2</label>
        <input type="text" name="nb2" id="input-nb2">
    </div>
    <br>
    <input type="submit" id="btn-calculer" value="Calculer">
</form>
<br>
<p id="p-result"></p>

<script>
    let btnCalculer = document.getElementById("btn-calculer")
    btnCalculer.addEventListener("click", async function (event) {
        event.preventDefault()

        let nb1 = document.getElementById("input-nb1").value
        let nb2 = document.getElementById("input-nb2").value
        let form = new FormData()
        form.append("nb1", nb1)
        form.append("nb2", nb2)
        let csrfTokenValue = document.querySelector("[name=csrfmiddlewaretoken]").value
        let request = new Request("{% url 'compute' %}", {
            method: "POST",
            body: form,
            headers: {"X-CSRFToken": csrfTokenValue}
        })

        let response = await fetch(request)
        let data = await response.json()
        let pResult = document.getElementById("p-result")
        pResult.innerText = `Total: ${data["operation_result"]}`

    })


    {#btnCalculer.addEventListener("click", (event) => {#}
    {#   let nb1 = document.getElementById("input-nb1").value#}
    {#   let nb2 = document.getElementById("input-nb2").value#}
    {##}
    {#   let form = new FormData()#}
    {#   form.append("nb1", nb1)#}
    {#   form.append("nb2", nb2)#}
    {#   let crsfTokenValue = document.querySelector("[name=csrfmiddlewaretoken]") #}
    {#    #}
    {#   let request = new Request("{% url 'compute' %}", {#}
    {#       method: "POST",#}
    {#       body: form,#}
    {#       headers: {"X-CSRFToken": crsfTokenValue}#}
    {#   })#}
    {##}
    {#   fetch(request)#}
    {#       .then(response => response.json())#}
    {#       .then(data => {#}
    {#           let pResult = document.getElementById("p-result")#}
    {#           pResult.innerText = `Somme: ${data["operation_result"]}`#}
    {#       })#}
    {##}
    {# }) #}

</script>
</body>
</html>